<html>
<head>
    <link rel="shortcut icon" href="/image/logo/favicon.ico"/>
    <meta charset="utf-8">
    <!-- 强制ie用最高模式渲染 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- 强制ie用最高模式或者谷歌frame渲染 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- 移动设备优先(优先栅格布局-水平排列) -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- 移动设备优先(优先栅格布局-水平排列) 进制用户缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="/css/public/rasterize.css" rel="stylesheet" type="text/css" />
    <link href="/css/public/default.css" rel="stylesheet" type="text/css" />
    <link href="/css/data/shoptransfer.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="http://lib.h-ui.net/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://lib.h-ui.net/jquery.SuperSlide/2.1.1/jquery.SuperSlide.min.js"></script>

    <meta name="Keywords" content="美帮来美业服务，行业招聘；品牌招商；美业资讯；培训学校等综合平台">
    <meta name="Description" content="美帮来提供美容美发、仪器、衣包、微雕、美容床品；行业招聘；品牌招商；美业资讯；培训学校信息等行业批发市场的美业服务平台">
    <title>美业服务就选美帮来</title>
</head>

<body>
<div id="header_html"></div>

<div class="container-fluid box-f">
    <div class="row box-c1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <a href="/index.html"><img class="logo" src="/image/logo.png"></a>
                </div>
                <div class="col-xs-12 col-sm-1 col-md-1"></div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <p class="search">
                        <input type="search" placeholder="请输入"/><button>搜索</button>
                    </p>
                    <p class="search-p">
                        <a href="#">美容 | 美发 | 美甲 | 化妆 | 仪器 | 培训 | 招聘</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row box-c2">
        <div class="container">
            <div class="row">
                <div class="hidden-xs col-sm-12 col-md-12">
                    <ul class="list-basic">
                        <li><a data-url="1">美业品牌</a></li>
                        <li><a data-url="2">培训教学</a></li>
                        <li><a data-url="3">全球展会</a></li>
                        <li><a data-url="4">美妆资讯</a></li>
                        <li><a data-url="5">美业招聘</a></li>
                        <li><a data-url="6">门店转让</a></li>
                        <li><a data-url="7">物流快递</a></li>
                        <li><a data-url="8">便民服务</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row box-c3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-10">
                    <div class="row inter-box">
                        <div class="col-xs-12 col-sm-7 col-md-7" >
                            <div id="slider-3">
                                <div class="slider">
                                    <div class="bd">
                                        <ul id="ul">
                                            <!--<li><a href="#" target="_blank"><img src="/image/1.png" ></a></li>-->
                                            <!--<li><a href="#" target="_blank"><img src="/image/1.png" ></a></li>-->
                                            <!--<li><a href="#" target="_blank"><img src="/image/1.png" ></a></li>-->
                                            <!--<li><a href="#" target="_blank"><img src="/image/1.png" ></a></li>-->
                                        </ul>
                                    </div>
                                    <ol class="hd cl rectangle" id="ol">
                                        <!--<li>1</li>-->
                                        <!--<li>2</li>-->
                                        <!--<li>3</li>-->
                                        <!--<li>4</li>-->
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-5 " style="border-left: 10px solid #f9f9f9;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <p style="color: red">
                                        <span style="font-size: 2.3rem" id="gold">4500</span><a>元/月&nbsp;&nbsp;&nbsp;
                                        转让费：</a><span id="transferGold">10.8万元</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-5 col-md-5 context">
                                    <p>面&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;积：<span>100m2</span></p>
                                    <p>面&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宽：<span>100m2</span></p>
                                    <p>层&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高：<span>100m2</span></p>
                                    <p>进&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;深：<span>100m2</span></p>
                                    <p>楼&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;层：<span>100m2</span></p>
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-7 context">
                                    <p>付款方式：<span>100m2</span></p>
                                    <p>类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型：<span>100m2</span></p>
                                    <p>剩余租期：<span>100m2</span></p>
                                    <p>经营行业：<span>100m2</span></p>
                                    <p>经营状态：<span>100m2</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 context-x">
                                    <hr>
                                    <p>所在地址：<span>100m2100m2</span></p>
                                    <h1 style="font-size: 1.2rem;">联系方式<span> </span></h1>
                                    <a><span>陈先生：</span>13111919211</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row box-details">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div id="tab_demo" class="HuiTab marginNone tabBar-outerBorder">
                                <div class="tabBar clearfix fontSpan">
                                    <span class="t current" id="0">配备</span>
                                    <span id="1" class="t">描述</span>
                                </div>
                                <div class="tabCon content display_block">
                                    <div class="box-details-content ">
                                        <h1>配　备</h1><br>
                                    </div>
                                </div>
                                <div class="tabCon content display_none">
                                    <div class="box-details-content">
                                        <h1>描　述</h1><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hidden-xs col-sm-2 col-md-2">
                    <div class="row">
                        <!-- <div class="col-xs-12">新闻预留</div> -->
                        <div class="col-xs-12">
                            <img class="img-responsive center-block" src="/image/public/blank.gif" data-echo="/image/hot4.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div id="bottom_html" class="hidden-xs"></div>

</body>
<script charset="UTF-8" type="text/javascript" src="/js/data/shoptransfer.js"></script>
<script>
    $("#header_html").load("/headerN.html");
    $("#bottom_html").load("/bottom.html");
</script>

</html>